body {
    background-color: #222222;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.list {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
}

.sentenceWidget {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #dedede;
    border-radius: 15px;
    padding: 10px 20px;
}

.sentenceContent {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.playBtn {
    flex-grow: 0;
}

.addBtn {
    flex-grow: 0;
}

p {
    margin: 0;
    padding: 0;
}

.sentence {
    font-size: 20px;
}

.translation {
    padding-bottom: 10px;
    font-size: 16px;
}

.details {
    font-size: 10px;
}

img {
    width: 40px;
    height: 40px;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}